<h1>Questions#answer</h1>
<p>Here's the result...</p>
<div>
  <%= @question %>
  <p>-You</p>
</div>
<div>
  <%= @answer %>
  <p>-Your coach</p>
</div>
<%= link_to "ask another question", root_path %>
