// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:

$vermillion: #FF4A00;

div {
  color: vermillion;
  text-decoration: underline;
}
